# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
# CocoaPods

LVCALC/Pods/
/**/Podfile.lock
/Pods
.DS_Store
LVCALC/**/Podfile.lock
LVCALC/LVCALC/Pods
LVCALC/Pods/
LVCALC/DerivedData
/Pods
.DS_Store
LVCALC/**/Podfile.lock
LVCALC/LVCALC/Pods
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xcuserstate
*.lock